language: android

env:
  global:
    - JAVA_TOOL_OPTIONS=-Dhttps.protocols=TLSv1.2
    - BUILD_API=31
    - BUILD_TOOLS=31.0.0
    - ANDROID_HOME=/usr/local/android-sdk
    - TOOLS=${ANDROID_HOME}/cmdline-tools/latest
    # PATH order is important, the 'emulator' script exists in more than one place
    - PATH=${ANDROID_HOME}:${ANDROID_HOME}/emulator:${TOOLS}:${TOOLS}/bin:${ANDROID_HOME}/platform-tools:${PATH}

# Uncomment and remove lines in before_install when issue with JDK is resolved
# Check thread here: https://travis-ci.community/t/installing-oraclejdk-11-failed/13050/10
# jdk:
  # - oraclejdk11

android:
  components:
    - tools

licenses:
  - 'android-sdk-preview-license-.+'
  - 'android-sdk-license-.+'
  - 'google-gdk-license-.+'

before_install:
  - curl -s "https://get.sdkman.io" | bash
  - source "$HOME/.sdkman/bin/sdkman-init.sh"
  - sdk install java 11.0.12-open
  - sdk use java 11.0.12-open
  # Install cmdline-tools (older tools doesn't support Java 11)
  - wget -q "https://dl.google.com/android/repository/commandlinetools-linux-7583922_latest.zip" -O android-commandline-tools-linux.zip
  - mkdir -p ${ANDROID_HOME}/cmdline-tools
  - unzip -q android-commandline-tools-linux.zip -d ${ANDROID_HOME}/cmdline-tools
  - mv ${ANDROID_HOME}/cmdline-tools/cmdline-tools ${ANDROID_HOME}/cmdline-tools/latest
  # Decrypt keystore
  - mkdir -p keystore
  - openssl aes-256-cbc -K $encrypted_3e25ea35f95b_key -iv $encrypted_3e25ea35f95b_iv -in signingkey.jks.enc -out keystore/signingkey.jks -d

before_script:
  # Install Android SDK
  - echo 'count=0' > /home/travis/.android/repositories.cfg # avoid harmless sdkmanager warning
  - echo y | ${TOOLS}/bin/sdkmanager "platform-tools" >/dev/null
  - echo y | ${TOOLS}/bin/sdkmanager "tools" >/dev/null
  - echo y | ${TOOLS}/bin/sdkmanager "build-tools;$BUILD_TOOLS" >/dev/null
  - echo y | ${TOOLS}/bin/sdkmanager "platforms;android-$BUILD_API" >/dev/null
  - echo y | ${TOOLS}/bin/sdkmanager "extras;android;m2repository" >/dev/null

branches:
  except:
  - /^untagged/
script:
  - "./gradlew test"
before_deploy:
  - "./gradlew assembleProdRelease"
  - gem update --system OLD_VERSION
deploy:
  provider: releases
  edge: true
  api_key:
    secure: "WScgq+7KqSRjwErfwBtHiXFlmFShvrJicPMm1Bq4sGoC9z6UpBqo0WYONiRUs5JVKUbaSnK7ggt5BNA5QZvXo+N9Kr3aN233dc1/e4Rc2wuN+eSFyyXY2FzubPfNiGa9Iw+WqmIiicVhfKAcMJUzLzn4kuz2uvmfHZvdIlelAehDutvc4cHoPmfHgq3MzItSEOS6InMSFOvHDK3OEgVjUo08p42gTT4dKXPvxa/5NjuQ5QVTg6tR3nCsHij20tCfvYs6PhQLvvesqcE5hmJFsJY/6CbzuFH68M/CJGvri98gJ8WZfiuM+Esgcwno2D7hbPjlgL1j8gkG8AiugayoXoJ5frz1jV9VG29uuS846wPKDAJbPsNVAANVnH4xFFD82adyzzG5eIxQTw6WghRLwe+z5XBG3NmvVy9YRTnyqlvXrMJyOf7rAT7J6y3BTm5gt3MY0D2Oqm1hWdpksbPeFcBzb+VftFXIL/2S4lKgv+TKtBT+T8XYotPXsEUbvJA7yzlnivCKah+Bjq0z2ZCl8j11Mek/lXHrfety1hZerWAhjoXb1q+34KZ0LVvRq+4dyntliPUbpXHBVbAeDcszBggcJLK+WwTz3hNy6XDk4a7r54mYWqJ4p7+RWTmqIAI62APUWByRXp/bj5j/jgpSkc3rC1+TQ45Tv0byd6JHmNo="
  file: "RondoApp/build/outputs/apk/prod/release/RondoApp-prod-release.apk"
  name: "Android SDK $LEANPLUM_SDK_VERSION"
  tag: "$LEANPLUM_SDK_VERSION"
  on:
    branch: master
    condition: '-n "$LEANPLUM_SDK_VERSION"'

after_deploy:
  - GH_REPO=github.com/Leanplum/Rondo-Android.git
  - REPO_NAME=Rondo-Android
  - git clone https://${GH_REPO}
  - cd ${REPO_NAME}
  - git config user.email "travis@travis-ci.com"
  - git config user.name "travis"
  - git commit --allow-empty -m "Rondo released with SDK version $LEANPLUM_SDK_VERSION"
  - git push https://${ACCESS_TOKEN}@${GH_REPO} HEAD:master
